bucket            = "{{ vault_tf_backend_bucket }}"
access_key        = "{{ vault_tf_backend_access_key }}"
secret_key        = "{{ vault_tf_backend_secret_key }}"
key               = "{{ vault_tf_backend_key }}"
dynamodb_endpoint = "{{ vault_tf_backend_dynamodb_endpoint }}"
dynamodb_table    = "{{ vault_tf_backend_dynamodb_table }}"
