datadog_app_key = "{{ vault_datadog_app_key }}"
datadog_api_key = "{{ vault_datadog_api_key }}"

db_name     = "{{ vault_n8n_db_name }}"
db_user     = "{{ vault_n8n_db_user }}"
db_password = "{{ vault_n8n_db_password }}"
sg_n8n_port = {{ vault_n8n_port }}

ssh_public_key_path = "{{ ssh_public_vm_key_path }}"

yc_cloud_id  = "{{ vault_yc_cloud_id }}"
yc_folder_id = "{{ vault_yc_folder_id }}"
yc_iam_token = "{{ vault_yc_iam_token }}"
